@use 'sass:math';

// インナー幅
$innerWidth: 1080px;

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

// フォント
$font-main: "Kosugi Maru", sans-serif;
$font-title: "Yusei Magic", sans-serif;
$font-en: "Jost", sans-serif;

// 色指定
$black: #333;
$white: #fff;
$accent: #EF8F9C;        // 花・アクセント
$base: #FFEDF0;   // 背景
$yellow: #FFF7B8;      // footer等
$main: #55000C;

// ブレイクポイント
$breakpoints: (
  sm: 600,
  md: 768,
  lg: 1024,
  xl: 1440,
);

// メディアクエリ
$mediaquerys: (
  sm: "screen and (min-width: #{map-get($breakpoints,'sm')}px)",
  md: "screen and (min-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (min-width: #{map-get($breakpoints,'lg')}px)",
  xl: "screen and (min-width: #{map-get($breakpoints,'xl')}px)",
);

// メディアクエリを "@include mq(){}" で書くことができる
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}
